In [2]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

In [3]:
from rpy2.robjects import r
r.data('iris')
df_iris = pandas2ri.ri2py(r.data('iris'))

In [4]:
import pandas.rpy.common as com
infert = com.load_data('infert')
infert.head()

/Users/yuewang/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: The pandas.rpy module is deprecated and will be removed in a future version. We refer to external packages like rpy2.
See here for a guide on how to port your code to rpy2: http://pandas.pydata.org/pandas-docs/stable/r_interface.html
  if __name__ == '__main__':

  education   age  parity  induced  case  spontaneous  stratum  pooled.stratum
1    0-5yrs  26.0     6.0      1.0   1.0          2.0        1             3.0
2    0-5yrs  42.0     1.0      1.0   1.0          0.0        2             1.0
3    0-5yrs  39.0     6.0      2.0   1.0          0.0        3             4.0
4    0-5yrs  34.0     4.0      2.0   1.0          0.0        4             2.0
5   6-11yrs  35.0     3.0      1.0   1.0          1.0        5            32.0

In [10]:
from numpy import *
import scipy as sp
import pandas as pd
from rpy2.robjects.packages import importr
import rpy2.robjects as ro
import pandas.rpy.common as com
from rpy2.robjects.packages import importr

In [6]:
stats = importr('stats')
base = importr('base')
datasets = importr('datasets')
graph = importr('graphics')

In [207]:
ro.r('library(forecast)')

array(['vars', 'lmtest', 'urca', 'strucchange', 'sandwich', 'MASS',
       'forecast', 'timeDate', 'zoo', 'tools', 'stats', 'graphics',
       'grDevices', 'utils', 'datasets', 'methods', 'base'],
      dtype='|S11')

In [209]:
fortify = importr('ggfortify')

In [13]:
count = range(1, 51)
df = pd.DataFrame(index = pd.date_range('2016-01-01', '2016-02-19'), data = count, columns = ['count'])
# df['count'] = count
# df['date'] = pd.date_range('2016-01-01', '2016-02-19')
# df.set_index('date', inlace = True)
# df.sort_index(inplace = True)
pandas2ri.activate()
r_timeseries = pandas2ri.py2ri(df)

In [24]:
ro.r('library(forecast)')

array(['forecast', 'timeDate', 'zoo', 'tools', 'stats', 'graphics',
       'grDevices', 'utils', 'datasets', 'methods', 'base'],
      dtype='|S9')

In [26]:
df

            count
2016-01-01      1
2016-01-02      2
2016-01-03      3
2016-01-04      4
2016-01-05      5
2016-01-06      6
2016-01-07      7
2016-01-08      8
2016-01-09      9
2016-01-10     10
2016-01-11     11
2016-01-12     12
2016-01-13     13
2016-01-14     14
2016-01-15     15
2016-01-16     16
2016-01-17     17
2016-01-18     18
2016-01-19     19
2016-01-20     20
2016-01-21     21
2016-01-22     22
2016-01-23     23
2016-01-24     24
2016-01-25     25
2016-01-26     26
2016-01-27     27
2016-01-28     28
2016-01-29     29
2016-01-30     30
2016-01-31     31
2016-02-01     32
2016-02-02     33
2016-02-03     34
2016-02-04     35
2016-02-05     36
2016-02-06     37
2016-02-07     38
2016-02-08     39
2016-02-09     40
2016-02-10     41
2016-02-11     42
2016-02-12     43
2016-02-13     44
2016-02-14     45
2016-02-15     46
2016-02-16     47
2016-02-17     48
2016-02-18     49
2016-02-19     50

In [17]:
rdf = pandas2ri.py2ri(df)
ro.globalenv['r_timeseries'] = rdf
pred = ro.r('as.data.frame(forecast(auto.arima(r_timeseries),h=5))')

In [18]:
pred

    Point Forecast  Lo 80  Hi 80  Lo 95  Hi 95
51            51.0   51.0   51.0   51.0   51.0
52            52.0   52.0   52.0   52.0   52.0
53            53.0   53.0   53.0   53.0   53.0
54            54.0   54.0   54.0   54.0   54.0
55            55.0   55.0   55.0   55.0   55.0

In [23]:
pred1 = ro.r('as.data.frame(forecast(auto.arima(r_timeseries), h=10))')
pred1

    Point Forecast  Lo 80  Hi 80  Lo 95  Hi 95
51            51.0   51.0   51.0   51.0   51.0
52            52.0   52.0   52.0   52.0   52.0
53            53.0   53.0   53.0   53.0   53.0
54            54.0   54.0   54.0   54.0   54.0
55            55.0   55.0   55.0   55.0   55.0
56            56.0   56.0   56.0   56.0   56.0
57            57.0   57.0   57.0   57.0   57.0
58            58.0   58.0   58.0   58.0   58.0
59            59.0   59.0   59.0   59.0   59.0
60            60.0   60.0   60.0   60.0   60.0

In [ ]:
df = com.load_data('mtcars')

In [ ]:
rdf = com.convert_to_r_dataframe(df)

In [ ]:
formula = 'mpg ~ wt + cyl'

In [ ]:
fit_full = stats.lm(formula, data=rdf)
# print(base.summary(fit_full))

In [ ]:
volcanodust = ro.r.scan("http://robjhyndman.com/tsdldata/annual/dvi.dat", skip=1)

In [ ]:
volcanodustseries = ro.r.ts(volcanodust,start=ro.r.c(1500))

In [ ]:
# re = stats.pacf(volcanodustseries)

In [ ]:
pandas2ri.ri2py(volcanodustseries)

In [27]:
import warnings
warnings.filterwarnings("ignore")

In [28]:
from BL_model_v2 import *
from BL_data_reader import *

In [29]:
def FACTOR_EMA(df, half_life):
        return pd.ewma(df, halflife=half_life)

In [30]:
view_config = {"MA5" : lambda df: FACTOR_EMA(df.shift(1).dropna(axis=0), 5),
"MA30" : lambda df: FACTOR_EMA(df.shift(1).dropna(axis=0), 30),
"MA120" : lambda df: FACTOR_EMA(df.shift(1).dropna(axis=0), 120)}

In [31]:
DR_view = BLDR.view_data_reader("/Users/yuewang/Dropbox/Capstone Project/structured_code_and_data/Data/factor_return_w_industry.csv", view_config,                            error_periods=60, error_method = "rolling_window")
DR_factor_return = BLDR.factor_return_data_reader("/Users/yuewang/Dropbox/Capstone Project/structured_code_and_data/Data/factor_return_w_industry.csv",
                                                  look_back_periods=60)
DR_residual = BLDR.residual_data_reader("/Users/yuewang/Dropbox/Capstone Project/structured_code_and_data/Data/residual.csv",
                                        look_back_periods=60, threshold = None, min_periods=2, diagonalized=True)
DR_residual.set_threshold(0.000001)
DR_factor_loading = BLDR.factor_loading_data_reader("/Users/yuewang/Dropbox/Capstone Project/structured_code_and_data/Data/factor_loading_w_industry.csv")

In [32]:
data_reader_config = {'view': DR_view, #call method return estimation and standard error of each predictors
        'factor_return': DR_factor_return, #call method return prior mean and covariance of factors
            'residual': DR_residual,#call method return covariance of residuals
                'factor_loading': DR_factor_loading #call method return factor loadings of each stock, also return the return of next B day for each stock
                }
BLP = Black_Litterman_Portfolio(data_reader_config, 1, factor_diagonalized=False)
print BLP.view.methods

['MA120', 'MA5', 'MA30']

In [33]:
target_date = datetime(2015,5,8)
EST, ERR = BLP.view('MA5',target_date)

In [34]:
EST

,BETA,MOMENTUM,SIZE,VALUE,VOL,ConsumerDiscretionary,ConsumerStaples,Energy,Financials,HealthCare,Industrials,InformationTechnology,Materials,TelecommunicationServices,Utilities
2015-05-08,0.000072,0.000142,0.000733,0.000097,0.000283,-0.000114,-0.00089,0.000183,0.000673,0.000173,0.000417,0.000185,0.001401,-0.003566,-0.001418

In [39]:
ERR

,BETA,MOMENTUM,SIZE,VALUE,VOL,ConsumerDiscretionary,ConsumerStaples,Energy,Financials,HealthCare,Industrials,InformationTechnology,Materials,TelecommunicationServices,Utilities
2015-05-08,0.004744,0.001983,0.001342,0.001059,0.001752,0.005216,0.005513,0.011201,0.004879,0.006846,0.005086,0.005678,0.007122,0.007599,0.009589

In [40]:
file_dir = "/Users/yuewang/Dropbox/Capstone Project/structured_code_and_data/Data/factor_return_w_industry.csv"
_df_factor_return = pd.read_csv(file_dir, sep =',',index_col=0)
_df_factor_return.index = _df_factor_return.index.map(lambda idx: datetime.strptime(idx,"%Y-%m-%d"))
_df_factor_return.sort_index(inplace=True)

In [41]:
_df_factor_return.iloc[:100,:].BETA

2006-01-03   -0.001133
2006-01-04    0.007586
2006-01-05    0.004873
2006-01-06    0.006084
2006-01-09    0.001911
2006-01-10   -0.002015
2006-01-11   -0.005629
2006-01-12   -0.001374
2006-01-13   -0.004801
2006-01-17    0.005985
2006-01-18    0.005533
2006-01-19   -0.010752
2006-01-20   -0.001251
2006-01-23    0.015835
2006-01-24   -0.001139
2006-01-25    0.009916
2006-01-26    0.001748
2006-01-27   -0.004918
2006-01-30    0.000441
2006-01-31   -0.001997
2006-02-01   -0.009870
2006-02-02   -0.002404
2006-02-03    0.002623
2006-02-06   -0.004417
2006-02-07    0.004299
2006-02-08   -0.006554
2006-02-09    0.003523
2006-02-10   -0.002989
2006-02-13    0.010988
2006-02-14    0.008018
                ...
2006-04-13   -0.007315
2006-04-17    0.019592
2006-04-18    0.002268
2006-04-19    0.001658
2006-04-20   -0.008331
2006-04-21   -0.004343
2006-04-24   -0.003578
2006-04-25   -0.004077
2006-04-26   -0.001924
2006-04-27   -0.002858
2006-04-28   -0.005662
2006-05-01    0.002911
2006-05-02    0.007367
2006-05-03    0.008281
2006-05-04    0.005770
2006-05-05   -0.001696
2006-05-08   -0.002272
2006-05-09   -0.000848
2006-05-10   -0.009123
2006-05-11   -0.007497
2006-05-12   -0.001228
2006-05-15   -0.005531
2006-05-16   -0.004508
2006-05-17   -0.002446
2006-05-18    0.006135
2006-05-19   -0.003138
2006-05-22   -0.007074
2006-05-23    0.008814
2006-05-24    0.004473
2006-05-25    0.002066
Name: BETA, dtype: float64

In [165]:
r_tmp = pandas2ri.py2ri(_df_factor_return.iloc[:200,:].BETA)

In [166]:
ro.globalenv['tmp'] = r_tmp

In [73]:
base.rm('tmp') ## Get rid of that global variables

rpy2.rinterface.NULL

In [99]:
pred = ro.r('as.data.frame(forecast(auto.arima(tmp),h=5))')

In [100]:
# _df_factor_return.iloc[:100,:].BETA

In [101]:
pred

     Point Forecast     Lo 80     Hi 80     Lo 95     Hi 95
201        0.000073 -0.009033  0.009180 -0.013854  0.014000
202       -0.001960 -0.011105  0.007184 -0.015945  0.012025
203        0.000238 -0.009129  0.009606 -0.014088  0.014565
204       -0.001096 -0.010466  0.008275 -0.015427  0.013235
205        0.000241 -0.009192  0.009675 -0.014186  0.014668

In [89]:
# %matplotlib inline

In [90]:
# _df_factor_return.iloc[:100,:].BETA.plot()

In [85]:
#### use holt winter

In [87]:
# (m <- HoltWinters(AirPassengers, seasonal = "mult"))

In [109]:
# m = ro.r('as.data.frame(forecast(HoltWinters(tmp),12))')

In [105]:
ro.globalenv['tmp']

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x122eb6f80 / R:0x13711e600>
[-0.001133, 0.007586, 0.004873, ..., 0.006853, -0.005996, -0.005911]

In [ ]:
### have to convert tmp to a ts

In [160]:
data_pd = _df_factor_return.iloc[200,:].BETA

In [161]:
data_pd.index[0], data_pd.index[-1]

(Timestamp('2006-01-03 00:00:00'), Timestamp('2007-08-06 00:00:00'))

In [137]:
data_pd.index[0].year, data_pd.index[0].month, data_pd.index[0].day

(2006, 1, 3)

In [138]:
# ts1 = stats.ts(r_tmp, start=ro.r.c(data_pd.index[0].year, data_pd.index[0].month, data_pd.index[0].day
# ), end=ro.r.c(data_pd.index[1].year, data_pd.index[1].month, data_pd.index[1].day), frequency=365)

In [175]:
ts1 = stats.ts(r_tmp, start=1, frequency=356)

In [176]:
ro.globalenv['ts1'] = ts1

In [178]:
# hw <- HoltWinters(demand)
m = ro.r('as.data.frame(forecast(HoltWinters(ts1,gamma = FALSE),1))')

In [179]:
m

          Point Forecast     Lo 80     Hi 80     Lo 95     Hi 95
1.561798       -0.002131 -0.014106  0.009845 -0.020446  0.016185

In [193]:
##### VAR prediction

In [229]:
vars = importr("vars")

In [230]:
data_pd_var.index

DatetimeIndex(['2006-01-03', '2006-01-04', '2006-01-05', '2006-01-06',
               '2006-01-09', '2006-01-10', '2006-01-11', '2006-01-12',
               '2006-01-13', '2006-01-17',
               ...
               '2006-10-04', '2006-10-05', '2006-10-06', '2006-10-09',
               '2006-10-10', '2006-10-11', '2006-10-12', '2006-10-13',
               '2006-10-16', '2006-10-17'],
              dtype='datetime64[ns]', length=200, freq=None)

In [195]:
data_pd_var = _df_factor_return.iloc[:200,:]
r_tmp_var = pandas2ri.py2ri(data_pd_var)

In [198]:
ts1_var = stats.ts(r_tmp_var, start=1, frequency=356)

In [199]:
ro.globalenv['ts1_var'] = ts1_var

In [219]:
m = ro.r('as.data.frame(fortify(predict(VAR(ts1_var,1), n.ahead = 1)))')

In [220]:
ro.globalenv['m'] = m

In [227]:
pydf = com.load_data('m')
pydf.columns

Index([u'Index', u'BETA', u'MOMENTUM', u'SIZE', u'VALUE', u'VOL',
       u'ConsumerDiscretionary', u'ConsumerStaples', u'Energy', u'Financials',
       u'HealthCare', u'Industrials', u'InformationTechnology', u'Materials',
       u'TelecommunicationServices', u'Utilities', u'BETA.fcst', u'BETA.lower',
       u'BETA.upper', u'BETA.CI', u'MOMENTUM.fcst', u'MOMENTUM.lower',
       u'MOMENTUM.upper', u'MOMENTUM.CI', u'SIZE.fcst', u'SIZE.lower',
       u'SIZE.upper', u'SIZE.CI', u'VALUE.fcst', u'VALUE.lower',
       u'VALUE.upper', u'VALUE.CI', u'VOL.fcst', u'VOL.lower', u'VOL.upper',
       u'VOL.CI', u'ConsumerDiscretionary.fcst',
       u'ConsumerDiscretionary.lower', u'ConsumerDiscretionary.upper',
       u'ConsumerDiscretionary.CI', u'ConsumerStaples.fcst',
       u'ConsumerStaples.lower', u'ConsumerStaples.upper',
       u'ConsumerStaples.CI', u'Energy.fcst', u'Energy.lower', u'Energy.upper',
       u'Energy.CI', u'Financials.fcst', u'Financials.lower',
       u'Financials.upper', u'Financials.CI', u'HealthCare.fcst',
       u'HealthCare.lower', u'HealthCare.upper', u'HealthCare.CI',
       u'Industrials.fcst', u'Industrials.lower', u'Industrials.upper',
       u'Industrials.CI', u'InformationTechnology.fcst',
       u'InformationTechnology.lower', u'InformationTechnology.upper',
       u'InformationTechnology.CI', u'Materials.fcst', u'Materials.lower',
       u'Materials.upper', u'Materials.CI', u'TelecommunicationServices.fcst',
       u'TelecommunicationServices.lower', u'TelecommunicationServices.upper',
       u'TelecommunicationServices.CI', u'Utilities.fcst', u'Utilities.lower',
       u'Utilities.upper', u'Utilities.CI'],
      dtype='object')

In [231]:
pydf = pydf.filter(regex='fcst')
pydf

,BETA.fcst,MOMENTUM.fcst,SIZE.fcst,VALUE.fcst,VOL.fcst,ConsumerDiscretionary.fcst,ConsumerStaples.fcst,Energy.fcst,Financials.fcst,HealthCare.fcst,Industrials.fcst,InformationTechnology.fcst,Materials.fcst,TelecommunicationServices.fcst,Utilities.fcst
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,-0.00309,-0.000692,-0.000199,0.000211,-0.00082,-0.000612,-0.000289,0.000847,0.000352,0.002254,-0.001466,0.000001,-0.002285,0.001157,0.000998

In [186]:
ts1 = stats.ts(r_tmp, start=1, frequency=356)

,BETA,MOMENTUM,SIZE,VALUE,VOL,ConsumerDiscretionary,ConsumerStaples,Energy,Financials,HealthCare,Industrials,InformationTechnology,Materials,TelecommunicationServices,Utilities
2006-01-03,-0.001133,0.000223,0.001184,-0.000966,0.002665,0.003528,0.005669,0.011090,0.010016,0.009870,0.008881,0.010865,0.010585,0.008167,0.006355
2006-01-04,0.007586,-0.000938,0.000283,0.000634,0.001005,-0.005755,-0.009857,-0.024153,-0.006869,-0.006851,-0.010128,0.001687,-0.013826,-0.007670,-0.010478
2006-01-05,0.004873,0.000734,0.001563,-0.002175,-0.000213,0.000513,-0.000419,0.011861,0.001624,0.003856,0.005281,0.007377,0.009279,0.000625,0.004791
2006-01-06,0.006084,-0.000512,-0.000325,0.001041,0.002310,0.005520,0.002149,-0.007236,0.000032,0.005381,0.000890,-0.001432,-0.003378,-0.004361,-0.002595
2006-01-09,0.001911,0.001008,-0.001345,0.000613,0.001603,-0.001404,-0.000564,0.009569,0.002326,-0.002680,0.003928,0.000635,-0.001357,-0.003334,0.003034
2006-01-10,-0.002015,-0.000016,0.001755,-0.000209,0.001714,0.002867,0.000167,0.004769,0.004899,0.001411,0.002075,0.007763,-0.001123,0.011016,0.002184
2006-01-11,-0.005629,-0.000066,-0.000779,-0.000748,-0.000284,-0.002033,0.004199,0.001049,-0.000622,0.002719,0.000348,0.000144,-0.003576,-0.000560,0.003884
2006-01-12,-0.001374,0.000263,-0.000888,0.000213,0.000014,0.000983,0.001528,0.012244,0.002744,0.003315,0.001987,0.000850,0.006531,0.004180,0.006336
2006-01-13,-0.004801,0.001385,-0.000312,0.001130,-0.001097,-0.004333,-0.001051,0.021092,-0.002940,0.001653,-0.002902,-0.002414,0.004487,-0.008333,0.006350
2006-01-17,0.005985,-0.000668,-0.000990,-0.001270,-0.002273,-0.008428,-0.001198,-0.020875,-0.008963,-0.002295,-0.004488,-0.008605,-0.020411,-0.001611,-0.004673
2006-01-18,0.005533,0.000804,-0.001065,-0.002370,0.002049,0.000325,0.000992,0.023884,0.001499,-0.002073,0.005405,0.010780,0.011597,0.009319,0.007373
2006-01-19,-0.010752,-0.000036,-0.002420,0.000044,-0.000088,-0.000250,-0.001280,0.016580,-0.002338,-0.003653,-0.000924,-0.010044,-0.000063,0.002312,0.002217
2006-01-20,-0.001251,0.000963,-0.001433,0.001106,-0.000217,0.003570,0.006707,0.014853,0.006369,-0.002481,0.004066,0.003678,0.013709,0.000621,0.001525
2006-01-23,0.015835,0.000388,-0.000887,0.000494,0.000906,-0.006174,-0.009427,-0.016422,-0.009375,-0.009282,-0.002274,-0.012718,0.000013,-0.004323,-0.005324
2006-01-24,-0.001139,-0.001155,-0.000255,-0.000547,-0.000001,0.003523,-0.003418,-0.020779,0.000606,-0.004565,-0.001017,0.002394,0.008308,-0.000044,-0.008288
2006-01-25,0.009916,0.003410,-0.001352,0.000400,0.000956,-0.002480,-0.003600,-0.010695,0.005358,0.000911,0.002781,0.003377,0.008656,-0.002023,-0.010512
2006-01-26,0.001748,-0.000042,0.000987,0.001513,0.002587,0.004345,0.007045,0.011016,0.000818,0.007131,0.001295,-0.000245,0.006016,0.003073,0.005767
2006-01-27,-0.004918,0.000787,0.002614,0.000635,0.005145,0.005707,0.003839,0.023375,0.005337,-0.003043,0.013212,0.004451,0.011201,0.002518,0.004480
2006-01-30,0.000441,0.000220,-0.002080,-0.000318,0.000690,-0.000048,0.003188,0.001146,0.000034,0.005727,0.002536,-0.003768,0.006583,0.007305,0.001845
2006-01-31,-0.001997,-0.000913,-0.001134,-0.000783,-0.000207,0.005214,0.004744,-0.015113,0.003976,0.006235,0.005446,0.011268,0.009253,0.004781,0.002808
2006-02-01,-0.009870,-0.000476,0.000273,-0.000900,-0.000285,0.004886,0.002537,-0.004789,0.000397,0.001451,0.004719,0.003712,0.001359,0.001908,-0.001658
2006-02-02,-0.002404,0.001396,-0.001842,0.001322,-0.000532,-0.000415,0.000141,0.001453,-0.000270,-0.000621,0.001458,-0.001106,-0.003950,0.004349,-0.003628
2006-02-03,0.002623,0.001556,0.000040,-0.001091,-0.000532,-0.003236,-0.002917,0.013790,-0.000973,-0.006775,0.001783,0.000383,0.013572,0.002489,0.002951
2006-02-06,-0.004417,-0.003436,-0.000853,0.000694,-0.004341,-0.004002,-0.005968,-0.035446,-0.006752,0.002890,-0.005860,0.001528,-0.024829,-0.003019,-0.006764
2006-02-07,0.004299,-0.001304,0.001390,0.000423,0.000304,-0.000130,-0.001379,-0.011291,0.000217,-0.001850,0.004037,0.006990,-0.005481,0.001176,-0.004543
2006-02-08,-0.006554,-0.000585,0.001825,-0.001014,0.001460,0.006683,0.003808,-0.018630,0.006420,0.006504,0.008330,0.005936,0.008784,-0.000681,0.007728
2006-02-09,0.003523,-0.000684,0.000261,0.000193,-0.003501,-0.004046,-0.007368,-0.009741,-0.003151,-0.004348,-0.003115,-0.005062,-0.010884,0.003230,-0.009564
2006-02-10,-0.002989,-0.000505,0.000318,0.000575,-0.002193,-0.000822,-0.004834,-0.012298,-0.003628,-0.001251,-0.002194,-0.002611,-0.016091,-0.004398,-0.001014
2006-02-13,0.010988,0.000919,-0.000368,0.001024,-0.001309,-0.001296,-0.000148,-0.020746,0.001488,-0.000442,0.000659,-0.006789,0.010774,0.005802,-0.012936
2006-02-14,0.008018,-0.000170,-0.001058,-0.000617,-0.001866,-0.004976,0.000065,-0.019636,-0.004630,0.003409,-0.000779,-0.005991,-0.013126,-0.003070,-0.005096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-09-06,-0.000254,-0.000631,-0.000292,0.000328,-0.001886,-0.002428,-0.003058,-0.003673,-0.007151,-0.006674,-0.006963,-0.004483,-0.012674,-0.002225,-0.007832
2006-09-07,0.000872,-0.001685,0.000833,-0.000305,-0.001014,0.006147,0.002830,-0.024697,0.002591,0.005160,0.000242,0.006124,-0.001668,-0.001921,-0.001520
2006-09-08,0.002311,-0.002743,-0.001261,-0.000156,-0.004678,0.003849,-0.003022,-0.034137,-0.002810,0.002280,-0.005863,0.005567,-0.032213,0.008600,-0.010348
2006-09-11,0.017464,-0.002690,-0.001759,0.001152,0.001823,0.008660,-0.004664,-0.025497,0.000202,-0.002742,-0.000541,0.003149,-0.012665,0.004444,-0.013151
2006-09-12,0.003438,0.001510,0.000185,0.000065,0.002399,0.001250,-0.001312,0.013017,0.004991,-0.001401,0.007931,0.000316,0.005828,0.001708,0.003174
2006-09-13,-0.000668,-0.001651,0.000669,0.000482,-0.000479,-0.001343,0.002366,-0.025393,-0.000103,-0.001746,-0.005193,0.002725,-0.007279,0.001636,-0.003480
2006-09-14,-0.000585,-0.001376,0.000296,0.000294,0.001443,0.004281,0.003014,-0.000684,0.008155,0.001499,0.001338,-0.001399,0.001815,0.000961,0.005453
2006-09-15,0.000350,0.001888,0.001606,0.001340,0.004434,-0.002620,-0.001350,0.015324,-0.000770,-0.003011,0.000332,0.000303,0.009033,-0.001078,-0.000904
2006-09-18,-0.002462,0.000145,-0.000657,0.000225,-0.002422,0.001263,0.004197,-0.013161,-0.002623,0.001409,-0.000380,-0.001331,-0.009358,-0.004395,-0.000670
2006-09-19,0.004319,0.000159,-0.003300,-0.000116,-0.002354,0.009087,0.003265,-0.027401,0.004839,0.004752,0.003804,0.011726,-0.000306,0.009649,-0.004439
2006-09-20,-0.009313,0.001704,0.001162,-0.000639,0.000918,0.003168,0.000653,0.021139,0.004223,-0.000330,0.003535,-0.001168,0.006181,0.006320,0.004635
2006-09-21,-0.006310,-0.000384,0.001946,0.001769,0.000338,0.003056,0.000916,-0.008612,0.000914,-0.004135,-0.001024,-0.002554,0.001767,0.005032,0.001072
2006-09-22,0.011587,-0.000512,-0.000700,0.000815,-0.002919,0.001542,-0.007727,-0.016464,-0.005030,-0.005728,-0.005954,0.004260,-0.014475,0.000396,-0.004012
2006-09-25,0.001988,0.001070,0.001763,0.001606,0.001744,0.004252,0.002689,0.017890,0.002936,-0.001171,0.007761,-0.000730,0.014725,-0.001619,-0.001020
2006-09-26,-0.003449,0.002014,-0.001093,-0.000561,0.001273,0.002545,0.007251,0.020634,0.005659,0.008452,0.006789,0.003205,0.011604,-0.006137,0.015721
2006-09-27,-0.000399,-0.001476,0.001411,-0.000241,-0.000041,-0.000217,-0.002027,0.000423,0.001915,0.000530,0.005045,0.002034,0.000004,-0.004939,-0.003676
2006-09-28,-0.005418,0.000333,0.002444,-0.001064,0.001763,-0.001139,-0.001450,0.008450,0.000148,0.001000,-0.000964,-0.000377,0.002273,0.011412,-0.001414
2006-09-29,-0.004275,0.000410,0.001872,0.001265,0.000102,0.005151,-0.002112,-0.015727,-0.003744,-0.002732,0.000701,-0.002830,0.001632,-0.003031,0.006673
2006-10-02,0.001533,-0.001319,-0.000359,-0.000215,-0.002957,0.003698,-0.005245,-0.037438,0.000475,-0.003453,0.000523,-0.001809,-0.020033,-0.000876,-0.003922
2006-10-03,0.013514,0.000638,-0.000595,-0.000234,0.000817,0.003020,0.002426,-0.004609,-0.000158,0.001209,0.001195,0.002603,-0.011483,0.002666,-0.001468
2006-10-04,0.006929,0.000624,-0.000649,-0.000826,0.002453,-0.001340,-0.002443,0.011820,0.001369,0.005218,0.005937,-0.002417,0.012265,-0.000003,-0.001340
2006-10-05,-0.003853,-0.000082,-0.000350,0.000529,0.001151,0.000289,-0.003100,0.004163,0.000180,-0.000281,0.000850,0.001275,0.003496,0.001886,-0.001464
2006-10-06,0.006723,0.000232,-0.000524,0.001373,0.001279,-0.000234,-0.001797,-0.017066,-0.000509,-0.001633,-0.002683,-0.002885,-0.003771,-0.000188,-0.003897
2006-10-09,0.003106,-0.000538,0.001178,0.000143,0.001900,-0.001811,-0.003501,0.016547,-0.002098,-0.007218,0.002564,-0.005646,0.003725,-0.003105,0.003287
2006-10-10,-0.002074,0.000544,0.000321,0.000599,-0.000784,-0.003535,0.000282,-0.013179,-0.005304,0.001075,-0.002308,0.007148,-0.004031,-0.002895,0.003002
2006-10-11,0.011600,-0.001297,-0.002382,-0.000010,0.000444,0.003894,-0.002139,0.010478,-0.001034,0.000004,0.005411,-0.002005,0.003426,0.006385,-0.001869
2006-10-12,-0.001728,0.001448,-0.000671,-0.000579,0.002030,0.004032,0.002413,0.017602,0.008290,0.000233,0.005674,0.007351,0.013255,0.006557,0.005544
2006-10-13,0.006853,0.000363,0.000162,0.000810,0.001239,-0.003075,-0.000706,0.014749,-0.006835,-0.002869,0.006242,-0.000980,0.002788,-0.008585,0.000690
2006-10-16,-0.005996,0.000514,-0.000165,-0.000984,0.000333,-0.000888,0.004278,-0.003818,0.003140,0.003926,-0.002971,-0.003441,0.000230,0.014507,0.009303
2006-10-17,-0.005911,-0.000528,-0.000332,-0.000698,-0.000879,0.006351,0.009444,0.002397,0.007658,0.011678,0.003086,-0.000685,0.008050,0.003803,0.010864

In [36]:
from statsmodels.tsa.arima_process import arma_generate_sample
import statsmodels.api as sm
import numpy as np

In [ ]:
res = sm.tsa.arma_order_select_ic(np.array(_df_factor_return.BETA), ic=['aic', 'bic'], trend='nc')

In [ ]:
raw_predictor = sm.tsa.ARMA(_df_factor_return.BETA, res.aic_min_order).fit()

In [ ]:
sm.tsa.x13_arima_select_order()

In [ ]:
res1 = sm.tsa.arima_order_select_ic(np.array(_df_factor_return.iloc[:100,:].BETA), ic=['aic', 'bic'], trend='nc')

In [ ]:
raw_predictor1 = sm.tsa.ARMA(_df_factor_return.iloc[:100,:].BETA, res1.bic_min_order).fit()

In [ ]:
_df_factor_return.iloc[:100,:].BETA

In [ ]:
import datetime
datetime.date(2006, 5, 26)

In [ ]:
raw_predictor1.predict('20060526','20060527', dynamic=True)

In [ ]:
predict_sunspots = raw_predictor1.predict('1990', '2012', dynamic=True)

In [ ]:
_df_factor_return.columns

In [ ]:
len(np.array(_df_factor_return.BETA))

In [ ]:
len(np.array(_df_factor_return.iloc[:100,:].BETA))

In [ ]:
res.aic_min_order

In [ ]:
res.bic_min_order

In [ ]:
_df_factor_return

In [ ]:
dta = sm.datasets.sunspots.load_pandas().data

In [ ]:
dta

In [ ]:
import pandas

In [ ]:
mdata = sm.datasets.macrodata.load_pandas().data

In [ ]:
dates = mdata[['year', 'quarter']].astype(int).astype(str)

In [ ]:
quarterly = dates["year"] + "Q" + dates["quarter"]

In [ ]:
from statsmodels.tsa.base.datetools import dates_from_str

In [ ]:
quarterly = dates_from_str(quarterly)

In [ ]:
mdata = mdata[['realgdp','realcons','realinv']]

In [ ]:
mdata.index = pandas.DatetimeIndex(quarterly)

In [ ]:
data = np.log(mdata).diff().dropna()

In [ ]:
model = VAR(data)

In [ ]:
from __future__ import print_function
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.graphics.api import qqplot

In [ ]:
print(sm.datasets.sunspots.NOTE)

In [ ]:
dta = sm.datasets.sunspots.load_pandas().data

In [ ]:
dta.index = pd.Index(sm.tsa.datetools.dates_from_range('1700', '2008'))
del dta["YEAR"]